.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  font-family: Arial, sans-serif;
  background-color: #e0f7fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.weather-app {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 400px;
}

h1 {
  color: #00796b;
  margin-bottom: 20px;
}

.location, .temperature {
  margin: 10px 0;
  font-size: 1.2em;
}

.weather-icon img {
  width: 100px;
  height: 100px;
  margin-top: 20px;
}

.location span, .temperature span {
  font-weight: bold;
  color: #00796b;
}

form {
  margin-bottom: 20px;
}

input {
  padding: 5px;
  font-size: 1em;
}

button {
  padding: 5px 10px;
  font-size: 1em;
  background-color: #00796b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #005f56;
}
